.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  opacity: 0;
  justify-content: right;
  z-index: -1;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}